{:version 2, :hash-algorithm :sha256-source-v1, :tested-at "2026-09-24T14:10:56.499077+08:00", :source "src/last_train/puzzles.clj", :module-hash "e8945009445ffea3c74df44b84e16e99bce379e52c038cf28d552553058093c2", :outcomes {"def/reference/3.5.0.1.2/constant/zero-to-one" :killed, "def/reference/3.5.0.2/boolean/true-to-false" :killed, "def/reference/3.5.1.2/boolean/true-to-false" :killed, "def/reference/3.5.2.2/boolean/true-to-false" :killed, "def/reference/3.5.3.2/boolean/true-to-false" :killed}, :forms [{:uncovered 0, :hash "43869e482f262f64b7b4b8f8b364f71ca6073529a13ad59e049c6598c9a8f7fc", :sites 0, :line 1, :survived 0, :id "form/0/ns", :kind "ns", :end-line 2, :killed 0} {:uncovered 0, :hash "b38c9ebb511ba4ee5dcbc7d7689e2876dde59977f2169596c6b6123e37b280b4", :sites 5, :line 4, :survived 0, :id "def/reference", :kind "def", :end-line 14, :killed 5}]}
